@use "components/fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.min.css';

@media (max-width: 1023px) {
.title{
    top: 97px;
left: 40px;
width: 331px;
height: 64px;
text-align: left;
font: normal normal bold 26px/32px Lato;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
}
